@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.HeaderWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

h3.Header
{
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0 2rem;
}

svg.Header
{
    font-size: 4rem;
}

@media (max-width: 424px)
{
    h3.Header
    {
        margin: 0 0.5rem;
    }
}

@media (max-width: 374)
{
    h3.Header
    {
        margin: 0;
    }
}